.card {
    width: 30rem;
    border: none !important;
}

.home-card {
    border-radius: 5px;
    border: 4px solid white;
    box-shadow: 0 10px 30px #bdb2ac82;
    transition: all 0.2s ease-in-out;

}


.home-card:hover {
    transform: scale(1.05, 1.05);
}