.navbar{
    font-weight: 700;
    align-items: start !important;
}   



.navbar li a {
    color: rgba(235, 240, 240, 0.85) !important;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar li a:hover {
    font-size: 1.08em;
    
}


@media (max-width: 768px) {
    .navbar {
        top: -2rem !important;
    }
  }




  .upArrowNavbar {
    animation: moveUpDown 900ms ease-in-out infinite; /* Applica l'animazione al passaggio del mouse */
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0); /* Posizione iniziale e finale */
    }
    50% {
      transform: translateY(-10px); /* Posizione massima verso l'alto */
    }
  }
  
  